## Middle Exam

#### 資料描述
| date | coupon id |  描述  |
|----:| --------:|-----:|
|  有   |       無      |   平常交易|
|  無   |       有      |   交易完成無使用coupon|
|  有   |       有      |   交易完成使用coupon|

In [27]:
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import warnings
data_path = 'data/MiddleExam/'
df = pd.read_csv(data_path + 'train_offline.csv')
df_test = pd.read_csv(data_path + 'test_offline.csv')
df = df[~df.Coupon_id.isna()]
df_test = df_test[~df_test.Coupon_id.isna()]
train_Y = df['Date'].apply(lambda x: 0 if pd.isnull(x) else 1)

df.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
1,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
2,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
3,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN
4,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN
5,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN

In [ ]:
## 特徵工程