## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [15]:
import pandas as pd
import numpy as np

In [50]:
# array to list
data = {'國家': ['Finland', 'Austria', 'Austrlia','Germany' ,'Taiwan'],
           '人口': np.random.randint(1000000, 40000000, 5).tolist()}
print(data)

{'國家': ['Finland', 'Austria', 'Austrlia', 'Germany', 'Taiwan'], '人口': [31743699, 13979292, 18680406, 16522839, 20240604]}

In [59]:
# list to dataframe
df = pd.DataFrame(data)
df

         國家        人口
0   Finland  31743699
1   Austria  13979292
2  Austrlia  18680406
3   Germany  16522839
4    Taiwan  20240604

In [60]:
#人口數最多的國家
df.loc[df['人口'].idxmax()]

國家     Finland
人口    31743699
Name: 0, dtype: object

In [61]:
# 人口數最多的國家- dataframe
df[df['人口']==df['人口'].max()]

        國家        人口
0  Finland  31743699

### Reference
[Python 生成一组随机数列表](https://blog.csdn.net/christianashannon/article/details/78867204)
<br>[Python 字典(Dictionary)](http://www.runoob.com/python/python-dictionary.html)
<br>[Python 中 zip() 函數用法實例教程](http://puremonkey2010.blogspot.com/2015/10/python-python-zip.html)
<br>[Converting NumPy array into Python List structure?](https://stackoverflow.com/questions/1966207/converting-numpy-array-into-python-list-structure)
<br>[Find maximum value of a column and return the corresponding row values using Pandas](https://stackoverflow.com/questions/15741759/find-maximum-value-of-a-column-and-return-the-corresponding-row-values-using-pan)